/* 设置整体背景为金色 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #FFD700;
}

.salary-text {
  font-size: 30px;
  color: #333;
}
